.about-us {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.about-us-content {
    max-width: 850px;
    padding: 200px;
    margin: 0 auto;
}

.typed-container {
    /* background: #666; */
    white-space: nowrap;
    text-align: center;
    margin-left: -10px;
}

.typed-container h1 {
    font-size: 6rem;
    color: #333;
    margin: 0;
    line-height: 1;
}

.highlight {
    color: #000000;
    font-weight: bold;
}

.typed-text {
    text-align: justify;
    display: inline-block;
    min-width: 6ch;
    color: #c5050c;
    font-weight: bold;
}

.description {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: -20px;
}

.intro {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.intro span {
    color: #c5050c;
    font-weight: bold;
}

.slogan {
    font-size: 1.5rem;
    color: #000000;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
}

.slogan-word {
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}

.slogan-word:hover {
    color: #fd7e14;
    transform: translateY(-3px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.bullet {
    color: #999;
    margin: 0 10px;
    user-select: none;
}

.main-text {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: justify;
    /* text-align: center; */
}

.end-text {
    font-size: 2rem;
    color: #fd7e14;
    font-weight: 500;
    text-align: center;
}

.apply {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.apply-button {
    background: linear-gradient(135deg, #c5050c, #fd7e14);
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.apply-button:hover {
    transform: translateY(-3px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #c5050c, #fd7e14, #c5050c);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}

.apply-button:active {
    transform: translateY(1px);
}

.apply-word {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.3s ease;
}

.apply-button:hover .apply-word {
    transform: scale(1.1);
}

.apply-message {
    margin-top: 10px;
    font-size: 1.3rem;
    color: #666;
    text-align: center;
}

@media (max-width: 768px) {
    .typed-container {
        margin-left: 0;
    }

    .typed-container h1 {
        font-size: 3rem;
    }

    .typed-text {
        min-width: 5.2ch;
    }

    .intro {
        font-size: 1.5rem;
    }

    .slogan {
        font-size: 1.3rem;
    }

    .main-text {
        font-size: 1rem;
    }

    .end-text {
        font-size: 1.5rem;
    }

    .apply-button {
        padding: 10px 20px;
    }

    .apply-word {
        font-size: 1.3rem;
    }

    .apply-message {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .typed-container {
        margin-left: 0;
    }

    .typed-container h1 {
        font-size: 2.4rem;
    }

    .typed-text {
        min-width: 5.3ch;
    }

    .intro {
        font-size: 1.2rem;
    }

    .slogan {
        font-size: 1rem;
    }

    .main-text {
        font-size: 0.9rem;
    }

    .end-text {
        font-size: 1.2rem;
    }

    .apply-button {
        padding: 10px 20px;
    }

    .apply-word {
        font-size: 1.1rem;
    }

    .apply-message {
        font-size: 1.1rem;
    }
}
